<!DOCTYPE html>
<html>
  <head>
    <title>RoR Tutorial Sample App | Contact</title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      Contact RoR Tutorial about the sample app at the 
      <a href="http://railstutorial.org/feedback">feedback page</a>
    </p>
  </body>
</html>

