<h1>Help</h1>
<p>
  Get help on RoR Tutorial at the
  <a href="http://railstutorial.org/help">RoR Tutorial help page</a>. 
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>

